body
{
	background-color: #eee;
}
.language-bar li:first-child
{
	border-color: #888;
}
.language-bar li a, .nav-bar li, .action-item
{
	color: #888;
}
.language-bar li a.selected, .nav-bar li.selected
{
	color: black;
}
.content-page-container
{
	border-color: #888;
}
.effeckt-caption figcaption
{
	background: rgba(255, 255, 255, 0.8);
}